@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

body {
    background-color: #313131;
}

h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #a9a9a9;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    margin-top: -40px;
}

#head {
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#left {
    float: left;
    width: 50%;
    height: 1000px;
}

#right {
    float: left;
    width: 50%;
    height: 1000px;
}

#UO {
    width: 100%;
    height: 50%;
}

#NN {
    width: 100%;
    height: 50%;
}

#Plotly {
    width: 100%;
    height:100%;
}

#Upload {
    width: 50%;
    height: 100%;
}

#hexagon::before {
    content: "\2B22";
    display:block;
    font-size:135px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -webkit-text-stroke: 3px #fff; /* width and color */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-image: ; */ /* PEGAR DO PYTHON */
  }